body{
    font-family: sans-serif;
    justify-content: center;
}
footer{
    color: black;
    text-align: center;
    margin-top: 30px;
}
main {
    margin-left: 30px;
    margin-top: 20px;
}
header {
    background-color: darkred;
    display: flex;
    color: white;
    align-items: center;
}


h1 {
    font-size: 60px;
    margin-bottom: 0;
    margin-left: 20px;
}
h2{
    font-size: 40px;
}
img {
    width: 80px;
    height: 80px;
    background-size: cover;

}
input {
    margin-top: 10px;
    margin-bottom: 10px;
}
button {
    background-color: darkorange;
    color: white;
}