.navbar{
    background-color: #ff6640;
}

ul.dropdown-cart li .item-left{
    float:left;
}

.navbar{
    margin-bottom: 30px;
}
.voting-card{
    max-width: 800px;
    margin-top: 15px;
}

footer{
    text-align: center;
    margin-top: 222px;
}
   