{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Ваши голосования</h1>
        <div class="btn-toolbar mx-auto justify-content-center" style="max-width: 800px;">
            <button type="button" class="btn btn-outline-success btn-lg"><a href="/create_voting" style="text-decoration: none; color: rgb(0, 0, 0)">Создать</a></button>
        </div>
        <div class="votings mx-auto">
        {% if votings %}
            {% for voting in votings %}
            <div class="card border-secondary mx-auto voting-card" style="margin-top: 20px; margin-bottom: 20px">
                  <div class="card-body">
                    <div class="d-flex mx-auto justify-content-between">
                       <h3 class="card-title">{{ voting.voteTitle }}</h3>
                       <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle dropdown-toggle-split" style="max-height: 28px;">
                         <ul class="dropdown-menu show" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(-16px, 46px);">
                         <a class="dropdown-item" href="../edit_voting/{{ voting.id }}"><li>Редактировать</li></a>
                         </ul>
                       </button>
                     </div>
                   <p class="card-deckription text-secondary">{{ voting.voteText }}</p>
                   <a href="../voting/{{ voting.id }}" class="card-link text-reset">Ссылка на голосование</a>
                  </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}
