﻿{% extends 'base/base.html' %}

{% block content %}
<main class="btn-toolbar mx-auto justify-content-center">
		<div class="votings mx-auto">
        <div class="card border-secondary mx-auto voting-card"  style="margin-top: 20px; margin-bottom: 20px">
                  <!-- voting -->
            <div class="card-body">
                <div class="d-flex mx-auto justify-content-between">
                  <h3 class="card-title">Редактирование голосования</h3>
                </div>
                <form method="POST">
                  {% csrf_token %}
                  <div><b>Название</b></div>
                  Старый вариант: {{ title }} </br>
                  {{form.title}}
                  <div><b>Описание</b></div>
                  Старый вариант: {{ text }} </br>
                  {{form.text}}
                  <div><b>Варианты</b></div>
                  {% for j in colvo_variants %}
                  <input id="1">
                  {% endfor %}
                  <ul>
                    <li>Да</li>
                    <li>Нет</li>
                    <li>Не знаю</li>
                  </ul>
                  <br/>
                  <button type="submit" class="btn">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
