{% extends 'base/base.html' %}


{% block content %}
<main class="form-signin m-auto row col-6 justify-content-center text-center">
  <form action="/login/" method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3">Пожалуйста, войдите</h1>
    <div style="margin-top: 20px">
      <label>{{ form.username.label }}</label>
      {{ form.username }}
    </div>
    <div style="margin-top: 20px">
      <label>Пароль</label>
      {{ form.password }}
    </div>
    <button class="w-100 btn btn-lg btn-primary" style="margin-top: 20px" type="submit">Войти</button>
  </form>
</main>
{% endblock %}
