﻿{% extends 'base/base.html' %}


{% block extra_css %}
<link rel="stylesheet" href="static/css/style.css">
{% endblock %}

{% block content %}
<main>
    <div class="votings mx-auto">
        <div class="card border-secondary mx-auto voting-card">
            <!-- voting -->
            <div class="card-body">
                <div class="d-flex mx-auto justify-content-center">
                    <h3 class="card-title">Профиль</h3>
                </div>
                <div class="row justify-content-around">
                    <div class="col-4">
                      <div><b>Имя</b></div>
                      <div>{{ fullname }}</div>
                      <div><b>Возраст</b></div>
                      <div>{{ age }}</div>
                      <div><b>Описание</b></div>
                      <p>{{ status }}</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                  <button class="btn col-3"><a href="/edit_profile/{{ user.id }}" style="text-decoration: none; color: rgb(0, 0, 0)">Редактировать</a></button>
                  <button class="btn col-4"><a href="/all_votings/{{ user.id }}" style="text-decoration: none; color: rgb(0, 0, 0)">Посмотреть свои голосования</a></button>
                </div>
            </div>
        </div>
      </div>
</main>
{% endblock %}
