<h4>{{question.name}}</h4>
					<div style="margin-bottom: 15px">
            {%for item in question.ques%}
						<div>
							<input type="radio" id=item.id name="voting">
							<label for=item.id>{{item.txt}}</label>
						</div>
            {%endfor%}
					</div>
