<!DOCTYPE html>
<html lang="ru" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap connection -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <!-- .css file connection -->
    <link rel="stylesheet" href="registration_style.css">

    <!-- line-awesome for icons connection -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <title>Регистрация</title>
</head>
<body class="d-flex flex-column h-100">
    <!-- menu -->
    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Simple Votings</a> <!-- here may be a logo instead of text -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#"><i class="las la-home"></i>Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="las la-check"></i>Голосования</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <a class="nav-link" href="#"><i class="las la-user"></i>Профиль</a>
                </ul>
            </div>
        </div>
    </nav>

    <!-- main part -->
    <div class="container">
        <div class="row d-flex justify-content-center align-self-center">
            <div class="col-md-6 ">
                <form action="" method="POST">
                  {% csrf_token %}
                    <div class="reg-header text-center">
                        <h2>Регистрация</h2>
                        <h5 class="text-muted">Начните голосовать <br> уже сегодня</h5>
                    </div>
                    {{ error }}
                    {{ form.name.label }} {{ form.name }}
                    {{ form.password.label }} {{ form.password }}
                    {{ form.sec_password.label }} {{ form.sec_password }}
                    <div class="text-center d-flex flex-column mb-2">
                        <button type="submit" class="btn btn-success mt-3">Отправить</button>
                    </div>
                    <label class="text-muted text-center">Уже есть аккаунт? - <a href="#" class="text-reset" >войти</a></label>
                </form>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer class="footer text-center text-lg-start bg-light text-muted mt-auto">
      <div class="text-center" style="background-color: rgba(0, 0, 0, 0.05);  padding: 20px">
        &copy; ШП, 2023.
        Сделано на <a class="text-reset fw-bold" href="https://getbootstrap.com">Bootstrap 5</a>
      </div>
    </footer>


</body>
</html>

