﻿{% extends "base/base.html" %}
{% block content %}
	<main style="max-width: 800px; margin: 20px auto">
		<div class="votings mx-auto">
            <div class="card border-secondary mx-auto voting-card">
                <!-- voting -->
				<div class="card-body">
                    <div class="d-flex mx-auto justify-content-between">
                        <h3 class="card-title">{{ title }}</h3>
                    </div>
					<p class="card-deckription">{{ description }}</p>

					{% include 'pages/question_template.html'%}
					<button class="btn">Проголосовать!</button>
				</div>
            </div>
    </div>
	</main>
{% endblock %}
