body{
  background-color: #F00;
}

.navbar {
    background-color: #ff6640;
	margin-bottom: 30px;
}

ul.dropdown-cart li .item-left {
    float:left;
}

.voting-card {
    max-width: 800px;
    margin-top: 15px;
}

footer{
    text-align: center;
    margin-top: 222px;
}

p {
	color: #343a40;
	text-align: justify;
}

label {
	margin-left: 5px;
}

.btn {
	color: #ff6640;
	border-color: #ff6640;
	margin-top: 10px;
}

.btn:hover {
	color: #fff;
	background-color: #ff6640;
}

