html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

.display-4 {
    font-weight: 400;
}

.jumbotron {
    background-color: #ff6640;
    text-align: center;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background-color: white;
    color: #ff6640;
    border-color: #ff6640;
}

.btn-primary:hover {
    background-color: #ff6640;
    color: white;
    border: 0;
    box-shadow: rgb(0 0 0) 10px 10px 29px 0px;
    transition: all .3s ease;
}
h1,p{
  color: #fff;
}
.text-center{
  margin-top: 15%;
}
