<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" style="margin: 0px">
{% load static %}

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- bootstrap connection -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <!-- line-awesome for icons connection -->
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        {% block extra_css %} {% endblock %}
        <title>{{ pagename }}</title>
    </head>

    <body>
        <header>
            {% block header %}
                <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark" style="background-color: #ff6640">
                    <div class="container">
                        <a class="navbar-brand" href="/">Simple Votings</a> <!-- here may be a logo instead of text -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/"><i class="las la-home"></i> Главная</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/all_votings"><i class="las la-check"></i> Голосования</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav">
                                <a class="nav-link" href="/profile/{{ user_id }}"><i class="las la-user"></i> Профиль</a>
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock %}
        </header>

        <main>
            {% block content %} {% endblock %}
        </main>


        <footer class="footer text-center text-lg-start bg-light text-muted mt-auto">
            <div class="text-center" style="background-color: rgba(0, 0, 0, 0.05); padding: 20px; margin: 0px">
              &copy; ШП, 2023.
              Сделано на <a class="text-reset fw-bold" href="https://getbootstrap.com">Bootstrap 5</a>.
              <a class="text-reset fw-bold" href="logout">Выйти</a>
            </div>
        </footer>

        {% block extra_js %} {% endblock %}
    </body>

</html>
