{% extends 'base/base.html' %}

{% block footer %}
    <footer class="footer text-center text-lg-start bg-light text-muted mt-auto">
        <div class="text-center" style="background-color: rgba(0, 0, 0, 0.05); padding: 20px; margin: 0px">
          &copy; ШП, 2023.
          Сделано на <a class="text-reset fw-bold" href="https://getbootstrap.com">Bootstrap 5</a>
        </div>
    </footer>
{% endblock %}
