{% extends 'base/base.html' %}

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark" style="background-color: #ff6640">
        <div class="container">
            <a class="navbar-brand" href="/">Simple Votings</a> <!-- here may be a logo instead of text -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/"><i class="las la-home"></i> Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/all_votings"><i class="las la-check"></i> Голосования</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <a class="nav-link" href="/profile"><i class="las la-user"></i> Профиль</a>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
